.header {
  position: fixed;
  width: 100%;
  padding: 0 30px;
  z-index: 100;
}

.headerInner {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #FCEDD5;
}