.open .btn {
  color: red;
}
.close .btn {
  color: blue;
}
.btn {
  display: none;
  @media (max-width: 767px) {
    display: block;
    position: relative;
    z-index: 100;
  }
}
.list {
  display: flex;
  gap: 20px;
  @media (max-width: 767px) {
    display: none;
  }
}
.drawer {
  display: none;
  @media (max-width: 767px) {
    display: flex;
    position: fixed;
    inset: 0 -100% 0 100%;
    background-color: rgba(0, 0, 0, .8);
    transition: transform .4s;

    color: #eee;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.open .drawer {
  transform: translateX(-100%)
}