.sec {
  position: relative;
  min-height: 100vh;
  padding:30px
}

.title {
  position: absolute;
  bottom: 30px;
  color: #FCEDD5;
  font-size: 11vw;
  line-height: 1.1;
  span {
    display: block;
  }
}